<md-dialog aria-label="Form">
<form name='myform' >
<md-dialog-content>
<md-content layout-padding>

<h3>registro {{odontologo.id}}</h3>
<div>
<md-input-container flex>
<label>Apellidos :</label>
<input ng-model="odontologo.apellidos_odontologo" required>
</md-input-container>
<md-input-container flex>
<label>Nombre :</label>
<input ng-model="odontologo.nombre_odontologo" required>
</md-input-container>
<md-input-container flex>
<label>direccion :</label>
<input ng-model="odontologo.direccion_odontologo" required>
</md-input-container>
<md-input-container flex>
<label>telefono :</label>
<input ng-model="odontologo.telefono_odontologo" required>
</md-input-container>
<md-input-container flex>
<label>tipodoc :</label>
<input ng-model="odontologo.tipodoc_odontologo" required>
</md-input-container>
<md-input-container flex>
<label>numdoc :</label>
<input ng-model="odontologo.numdoc_odontologo" required>
</md-input-container>
<md-input-container flex>
<label>email :</label>
<input ng-model="odontologo.email_odontologo" required>
</md-input-container>
<md-input-container flex>
<label>genero :</label>
<input ng-model="odontologo.genero_odontologo" required>
</md-input-container>

</div>
</md-content>

</md-dialog-content>
<div class="md-actions" layout="row">
<span flex></span>
<md-button type="reset" ng-click="cancel()">
cancelar
</md-button>
<md-button type="submit"  ng-click="save()" ng-disabled="!myform.$valid">
guardar
</md-button>
</div>
</form>
</md-dialog>